* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 203, 236);
  color: #fde7e7;
}
p {
  opacity: 0.8;
  font-size: 20px;
  color:rgb(44, 42, 42);
  text-align: justify;
  justify-content: baseline;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 4%;
  align-items: center;
  position: fixed;

  nav {
    border: none;
    border-radius: 12px;
    backdrop-filter: blur(20px);
  }
  ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
    background-color: rgba(154, 145, 145, 0.084);
    padding: 16px 20px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  width: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
}
.secInicial {
  background-image: url("assets/fundo.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.classAprese {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 10vh;
    color: rgb(236, 220, 220);
  }
  p{
    color:#fde7e7;
    font-size: 35px;
  }
}

.divBotoes {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(236, 220, 220);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    font-size: 18px;
    color:rgb(44, 42, 42);
    align-items: center;

  }
}

.secSobre {
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 8vh;
    color: rgb(94, 77, 94);
  }

}

.sectionCurso{
  background-image: url(assets/fundo.png);
  background-size: cover;
  background-position: left;
  height: 25vh;
  justify-content: space-between;
  align-items: flex-start;
  
  h1{
    font-size: 5vh;
    justify-content: left;
  }
  h2{
    font-size: 40px;
  }
}

.sectionAdmissao{
  align-items: center;
  justify-content: center;
  h2{
    display: flex;
    font-size: 6vh;
    color:rgb(94, 77, 94);
  }

 
}

.sectCabArea{
  background-image: url(assets/fundo.png);
  background-size: cover;
  background-position: left;
  height: 25vh;
  justify-content: space-between;
  align-items: flex-start;

  h1{
    font-size: 5vh;
    justify-content: left;
  }
  h2{
    font-size: 45px;
  }
}

.secArea{
  align-items: center;
  justify-content: center;
  h2{
    display: flex;
    font-size: 6vh;
    color:rgb(94, 77, 94);
  }

}

.secInteresse{
  align-items: center;
  justify-content: center;
  margin-top: -7vh;
  h2{
    display: flex;
    font-size: 6vh;
    color:rgb(94, 77, 94);
   
  }
}

.cabConts{
  background-image: url(assets/fundo.png);
  background-size: cover;
  background-position: left;
  height: 25vh;
  justify-content: space-between;
  align-items: flex-start;

  h1{
    font-size: 5vh;
    justify-content: left;
  }
  h2{
    font-size: 45px;
  }
}

.secEndere{
  text-align: center;
  
  h2{
    font-size: 4vh;
    color:rgb(94, 77, 94);
  }
  address{
    margin-top: 2vh;
    font-size: 20px;
    color:rgb(44, 42, 42);
    font-weight: bold;
  }
}

.divIcones {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 7vh;
  h2{
    font-size: 4vh;
  }

    div {
        display: flex;
        gap: 20px;
        margin-top: 3vh;
    }

    img {
      height: 110px;
      width: 110px;
    }
}

